<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.hrsample.dao.UserMapper">
    <resultMap id="UserResultMap"
               type="org.example.hrsample.entity.UserEntity">
        <id property="id" column="id"/>
        <result property="login" column="login"/>
        <result property="password" column="password"/>
        <result property="status" column="status"/>
        <association property="roleEntity"
                     javaType="org.example.hrsample.entity.RoleEntity"
                     resultMap="RoleMap"
        />
    </resultMap>
    <resultMap id="RoleMap" type="org.example.hrsample.entity.RoleEntity">
        <id property="id" column="id"/>
        <result property="name" column="role_name"/>
        <collection property="permissions"
                    ofType="java.lang.String"
                    select="selectPermissions"
        />
    </resultMap>

    <select id="getByLogin" resultMap="UserResultMap">
        select *
        from usr u
                     inner join status s on s.id = u.status
                     inner join usr_roles ur on u.id = ur.usr_id
                     inner join roles r on r.id = ur.role_id
        where u.login = #{login}
    </select>

    <select id="selectPermissions" resultType="java.lang.String">
        select p.permission
        from usr u
                     inner join usr_roles ur on u.id = ur.usr_id
                     inner join roles r on r.id = ur.role_id
                     inner join roles_permissions rp on r.id = rp.role_id
                     inner join permissions p on p.id = rp.permission_id
        where u.login = #{login}
    </select>
</mapper>